@font-face {
  font-family: Work Sans;
  src: url(../fonts/WorkSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Work Sans;
  src: url(../fonts/WorkSans-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #2b2b2b;
  font-family: Work Sans;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo__title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__nav__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.sign_up {
  display: flex;
  align-items: center;
  background: #a259ff;
  gap: 12px;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
}
.header__burger__btn {
  width: 30px;
  height: 30px;
  background-color: #2b2b2b;
  position: relative;
  border: none;
  display: none;
}
.header__burger__btn span {
  width: 20px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 5px;
  border-radius: 3px;
  transition: transform 0.5s opacity 0.5s background-color 0.5s;
}
.header.open .header__burger__btn span:nth-child(1) {
  transform: rotate(-45deg);
}
.header.open .header__burger__btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger__btn span:nth-child(3) {
  transform: rotate(45deg);
}
.header__burger__btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger__btn span:nth-child(2) {
  width: 30px;
}
.header__burger__btn span:nth-child(3) {
  transform: translateY(10px);
}
.frame__content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: 20px;
}
.frame__top {
  width: 100%;
}
.frame__top__title {
  font-size: 67px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
.frame__top__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.frame__top__button {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 19px 40px;
  background: #a259ff;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
}
.frame__top__button__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.frame__top__results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}
.frame__top__results__box {
  text-align: left;
  width: 100%;
}
.results__box__number {
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.results__box__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.frame__bottom {
  width: 100%;
}
.frame__bottom__img {
  width: 100%;
  object-fit: cover;
  height: 401px;
}
.frame__bottom__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-top: 22px;
}
.frame__bottom__person {
  display: flex;
  align-items: center;
  gap: 10px;
}
.person__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.trending__content {
  margin-top: 80px;
}
.trending__title {
  margin: 0;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
.trending__text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;
}
.trending__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.trending__boxes {
  width: 100%;
}
.trending__boxes__img {
  width: 100%;
  object-fit: cover;
}
.trending__boxes__cards {
  display: flex;
  gap: 20px;
}
.boxes__card {
  width: 100%;
}

.last {
  background: #a259ff;
  border: none;
  border-radius: 20px;
  padding: 0 10px;
}
.trending__boxes__title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
}
.trending__boxes__avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
.trending__boxes__avatar__name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.creators__content {
  margin-top: 80px;
}
.creators__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.top__title {
  margin: 0;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
.top__text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.creators__top__button {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  padding: 19px 50px;
  background-color: transparent;
}
.top__button__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.creators__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 238px;
  gap: 30px;
  margin-top: 60px;
}
.creator__cards {
  background: #3b3b3b;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;
}
.cards__title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.text__left {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: #858584;
}
.text__right {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.creators__bottom__button {
  display: none;
  align-items: center;
  gap: 12px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  padding: 19px 50px;
  background-color: transparent;
}
.bottom__button__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.categories__title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  margin: 40px;
}
.categories__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 316px;
  gap: 30px;
}
.categories__cards {
  background: #3b3b3b;
  border-radius: 20px;
}
.categories__cards__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.categories__cards__img {
  width: 100%;
  object-fit: cover;
}
.discover__content {
  margin-top: 80px;
}
.discover__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.discover__title {
  margin: 0;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
.discover__text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.discover__button {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  gap: 12px;
  border: 2px solid #a259ff;
  background-color: transparent;
}
.discover__button__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.discover__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 469px;
  gap: 30px;
  margin-top: 60px;
}
.discover__boxes {
  background: #3b3b3b;
  border-radius: 20px;
}
.discover__boxes__img {
  width: 100%;
  object-fit: cover;
}
.discover__boxes__title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
.discover__boxes__avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 5px;
  margin-left: 20px;
}
.discover__boxes__avatar__name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.discover__bottom__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.discover__bottom__price_text1 {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  color: #858584;
}
.discover__bottom__price_text2 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}
.discover__bottom__heigth_text1 {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  color: #858584;
}
.discover__bottom__heigth_text2 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}
.discover__bottom__button {
  display: none;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  gap: 12px;
  border: 2px solid #a259ff;
  background-color: transparent;
}
.discover__bottom__button__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.highlight {
  background-image: url(../img/1000_F_554420558_zAGIONJgPPqFq542JjwU3SpI2jJ9RTAc.jpg);
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}
.highlight__content {
  display: flex;
  justify-content: space-between;
  height: 640px;
  align-items: flex-end;
}
.hilight__avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.highlight__avatar__name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.highlight__title {
  margin: 0;
  margin-top: 30px;
  font-size: 51px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.highlight__button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  margin-top: 30px;
}
.highlight__button__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #2b2b2b;
  margin: 0;
}
.highlight__bottom__button {
  display: none;
  align-items: center;
  gap: 12px;
  background: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  margin-top: 30px;
}
.highlight__bottom__button__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #2b2b2b;
  margin: 0;
}
.getstart__content {
  margin-top: 80px;
}
.getstart__top__title {
  margin: 0;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
.getstart__top__text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.getstart__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 439px;
  margin-top: 48px;
  gap: 30px;
}
.getstart__boxes {
  background: #3b3b3b;
  border-radius: 20px;
  text-align: center;
}
.getstart__boxes__img {
  width: 100%;
  object-fit: cover;
}
.getstart__boxes__title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
  margin-top: 20px;
}
.getstart__boxes__text {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.widget__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: #3b3b3b;
  height: 430px;
  margin-top: 80px;
  border-radius: 20px;
}
.widget__img__box {
  width: 100%;
}
.widget__info__box {
  width: 100%;
}
.widget__info__title {
  margin: 0;
font-size: 38px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0em;
text-align: left;

}
.widget__info__text {
 margin: 0;
font-size: 22px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

}
.widget__info__buttons {

}
.widget__btn1 {
  background: #fff;
  padding: 10px 60px;
  border-radius:20px ;
  
}
.widget__btn2 {
}
.widget__btn__link {
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}

@media (max-width: 1000px) {
  .frame__content {
    flex-direction: column;
    align-items: center;
  }

  .frame__top__button {
    width: 100%;
    justify-content: center;
  }
  .box3 {
    display: none;
  }
}
@media (max-width: 900px) {
  .creators__box {
    grid-auto-rows: 100px;
  }
  .creator__cards {
    display: flex;
    padding: 10px 0 10px 10px;
    gap: 20px;
  }
  .card1 {
    grid-column: 1/3;
  }
  .card2 {
    grid-column: 3/5;
  }
  .card3 {
    grid-column: 1/3;
  }
  .card4 {
    grid-column: 3/5;
  }
  .card5 {
    grid-column: 1/3;
  }
  .card6 {
    grid-column: 3/5;
  }
  .card {
    display: none;
  }
  .categories__box {
    grid-auto-rows: 250px;
  }
}

@media (max-width: 760px) {
  .header__burger__btn {
    display: block;
    background-color: transparent;
  }
  .header__nav {
    position: absolute;
    right: 0;
    top: -300px;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 20px 20px;
    background: #a259ff;
    transition: transform 1s;
  }
  .sign_up {
    order: -1;
    background: none;
    border: 1px solid #fff;
    padding: 0 20px;
  }
  .header.open .header__nav {
    transform: translateY(300px);
  }
  .header__nav__link:hover {
    border-bottom: 1px solid white;
    font-size: 18px;
  }
  .box2 {
    display: none;
  }
  .categories__box {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
  }
  .discover__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .discover__last_box {
    display: none;
  }
  .getstart__box {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 150px;
    padding: 10px;
  }

  .getstart__boxes {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .creators__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .creators__top__button {
    display: none;
  }
  .creators__bottom__button {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  .categories__box {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
  }
  .highlight__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlight__botton {
    display: none;
  }
  .highlight__time {
    margin-top: 30px;
  }
  .highlight__button {
    display: none;
  }
  .highlight__bottom__button {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .categories__box {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 260px;
  }
  .discover__box {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 600px;
  }
  .discover__last_box {
    display: grid;
  }
  .discover__button {
    display: none;
  }
  .discover__bottom__button {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .discover__box {
    grid-auto-rows: 500px;
  }
}
